{{ 'component-breadcrumbs.css' | asset_url | stylesheet_tag }}

{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
    {%- assign t = template | split: '.' | first -%}

    <nav class="cellphones-blog-breadcrumbs" role="navigation" aria-label="breadcrumbs">
        <ul class="breadcrumbs">
            <li class="breadcrumb-link">
                <a href="/">Home</a>
            </li>
            {%- case t -%}
                {%- when 'page' -%}
                    <li class="breadcrumb-link">
                        <a href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
                    </li>
                {%- when 'product' -%}
                    {%- if collection.url -%}
                        <li class="breadcrumb-link">
                            {{ collection.title | link_to: collection.url }}
                        </li>
                    {%- endif -%}
                    <li class="breadcrumb-link">
                        <a href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
                    </li>
                {%- when 'collection' and collection.handle -%}
                    {%- if current_tags -%}
                        <li class="breadcrumb-link">
                            {{ collection.title | link_to: collection.url }}
                        </li>
                        <li class="breadcrumb-link">
                            {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
                            <a href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
                        </li>
                    {%- else -%}
                        <li class="breadcrumb-link">
                            <a href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
                        </li>
                    {%- endif -%}
                {%- when 'blog' -%}
                    {%- if current_tags -%}
                        <li class="breadcrumb-link">
                            {{ blog.title | link_to: blog.url }}
                        </li>
                        <li class="breadcrumb-link">
                            {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
                            <a href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
                        </li>
                    {%- else -%}
                        <li class="breadcrumb-link">
                            <a href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
                        </li>
                    {%- endif -%}
                {%- when 'article' -%}
                    <li class="breadcrumb-link">
                        {{ blog.title | link_to: blog.url }}
                    </li>
                    <li class="breadcrumb-link">
                        <a href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
                    </li>
                {%- else -%}
                    <li class="breadcrumb-link">
                        <a href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
                    </li>
            {%- endcase -%}
        </ul>
    </nav>
{%- endunless -%}

{% schema %}
{
  "name": "cellphones.breadcrumbs",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "cellphones.breadcrumbs"
    }
  ]
}
{% endschema %}